/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* GLOBAL */
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #242e51;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* BODY */
body {
    /*background: #35415f url('../img/shapes_bg.png');*/
    background: #fff url('../img/shapes_bg.png');
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.background {
    background: rgba(255, 255, 255, .9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* NAVBAR */
.navbar {
    background: url('../img/navbar_bg.png') repeat-x;
    background-size: contain;
    box-shadow: 0 5px 10px -5px #999;
    padding: 0;
}

.navbar-inner {
    background: rgba(255, 255, 255, .85);
    width: 100%;
    padding: .5rem 1rem;
}

.navbar-text {
    font: 3rem 'Roboto Condensed', sans-serif;
}

.navbar-text-1 {
    color: #66b4dc;
    letter-spacing: .25rem;
}

.navbar-text-2 {
    color: #242e51;
    font-weight: bold;
    margin: 0 .25rem;
}

.navbar-text-3 {
    color: #242e51;
    letter-spacing: .25rem;
}

.navbar-brand img {
    height: 6rem;
}

/* CONTENT */
section {
    padding: .5rem 1rem;
}

/* VIDEO PREVIEW */
.video-preview-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-preview-icon img {
    width: 20%;
    min-width: 1.5rem;
}

.video-preview-backdrop {
    transition: background .15s;
}

.video-preview-backdrop:hover,
.video-preview-backdrop:active,
.video-preview-backdrop:focus {
    background: rgba(0, 0, 0, .2);
}

.video-preview-caption p:first-child {
    font-size: 1.5rem;
}

.video-preview-caption strong {
    color: #242e51;
    font-size: 1.75rem;
    line-height: calc(6/7);
}

.video-preview-caption p:last-child {
    line-height: normal;
}

/* VIDEO MODAL */
.modal-open #videoModal {
    display: flex !important;
    align-items: center;
}

#videoModal .modal-dialog {
    max-width: 90vw;
    max-height: 90vh;
    flex: 1;
}

#videoModal .modal-content {
    background: transparent;
    border: 0;
}

#videoModal .close {
    position: absolute;
    top: 0;
    right: -30px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    transition: opacity .15s;
}

#videoModal .close:hover,
#videoModal .close:active,
#videoModal .close:focus {
    opacity: 1;
}

#video {
    max-height: 90vh;
}

.modal-backdrop.show {
    opacity: .8;
}

/* HELPERS */
.fill-parent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
